



/* Global Styles */
body {
  background-color: #242424;
  font-family: 'Roboto Mono', monospace;
  color: #cccccc;
  line-height: 1.6;
  transition: background-color 0.5s ease, color 0.5s ease;
}

body, h1, h2, h3, ul, p {
  margin: 0;
  padding: 0;
}

/* Navigation */
nav ul {
  list-style: none;
  text-align: center;
  background-color: #242424;
  padding: 1em;
  transition: background-color 0.5s ease, color 0.5s ease;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #cccccc;
  font-weight: 500;
  text-transform: lowercase;
}

/* Main Content */

main {
  padding: 20px;
  text-align: center;
}

section {
  margin-bottom: 40px;
}

section h2 {
  font-size: 24px;
  margin-bottom: 10px;
  font-weight: 400;
  text-transform: lowercase;
}

section p {
  font-size: 14px;
}

/* Footer */

footer {
  background-color: #242424;
  text-align: center;
  padding: 1em;
  position: relative;
  transition: background-color 0.5s ease, color 0.5s ease;
}

footer p {
  font-size: 10px;
  color: #cccccc;
}

/* Container */

.container {
  max-width: 1200px;
  margin: auto;
  text-align: left;
  text-align:  justify;
}

/* Theme Toggle */
.theme-toggle {
  text-align: center;
  margin-bottom: 10px;
}

/* About Me */
#about-me .text-section,
#about-me .image-section {
  display: inline-block;
  vertical-align: top;
}

#about-me .text-section {
  width: 60%;
}

#about-me .image-section {
  width: 35%;
  text-align: left;
  margin-left: 0px; 
}

/* Project */

.project .text-section,
.project .image-section {
  display: inline-block;
  vertical-align: top;
}

.project .text-section {
  width: 60%;
}

.project .text-section .buttons {
  margin-top: 10px;
}

/* Buttons */

.button {
  cursor: pointer;
  background-color: #E3E3E3 !important;
  padding: 3px 2px;
  border: none;
  border-radius: 6px; /* Slightly larger radius for a modern look */
  font-size: 12px !important;
  text-align: center;
  display: inline-block;
  width: 110px; /* Auto width based on content */
  transition: background-color 0.3s, box-shadow 0.3s, transform 0.3s; /* Smooth transitions for interactive effects */
  color: #3b3b3b;

  font-family: 'Roboto Mono', monospace;

  /* Adding a subtle shadow for depth */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

}

a[class="button"] {
  width: 110px; /* adjust as needed */
  padding: 4px !important;
}

/* Remove underline from PDF link */

.button, .button a {
  text-decoration: none;
}

.abstract-content {
  display: none;
}

.project .image-section {
  width: 35%;
  text-align: right;
}

.image-section img {
  width: 130px;  /* Adjust as needed */
  border-radius: 50%;
}

.project .image-section {
  float: left;
  margin-right: 20px;
}

.project .image-section img {
  width: 100px;  /* Adjust as needed */
}

.theme-icon {
  cursor: pointer;
  font-size: 24px;
}

.theme-icon:hover {
  opacity: 0.7;
}

a {
  color: #ffffff; /* black */
  text-decoration: underline;
  text-decoration-color: #cccccc; /* medium gray */
  transition: text-decoration-color 0.3s ease; /* 0.3s duration, ease timing function */
}

a:hover {
  text-decoration-color: #242424; /* black */
}

.fab {
  margin-right: 8px;
  vertical-align: middle;
}

.project .image-section img {
  width: 35%; /* Sets width to 120% of the original size */
  height: auto;
}

.button.abstract-toggle {
  cursor: pointer;
  background-color: #ccc;
  padding: 6px;
  border: none;
  border-radius: 4px;
  font-size: 14px; /* adjust as needed */
  display: inline-block;
  text-align: center;
}

.abstract-content {
  font-size: 12px; /* Adjust as needed */
}

.image-section img {
  border-radius: 0%; /* This will make sure the image is square */
}

#wip .text-section {
  width: 100%;  /* Increase as needed */
}

/* Media query for mobile devices */
@media (max-width: 480px) {
  .container {
    flex-direction: column;
  }

  #about-me .text-section {
    width: 100%;
  }

  #about-me  .image-section img {
    width: 75%; 
    height: auto;
    margin-right: 100px
  }

  .project .text-section {
    width: 90%; 
  }

  .project .image-section img {
    width: 100%; 
    height: auto;
    margin-right: -100px
  }

  nav ul {
    display: flex;
    flex-direction: column;
  }
  /* Reduce text size */
  .text-section p, li, a {
    font-size: 0.7em;  /* Adjust as needed */
  }

  /* Reduce size of buttons */
  div.buttons button.button,
  div.buttons a.button {
    padding: 3px 0.5px;  
    font-size: 0.7em;  
  }

  /* Increase size of hyperlink text */
  a {
    font-size: 1em;  /* Adjust as needed */
  }

.button {
  cursor: pointer;
  background-color: #E3E3E3 !important;
  padding: 3px 2px;
  border: none;
  border-radius: 6px; /* Slightly larger radius for a modern look */
  font-size: 10px !important;
  text-align: center;
  display: inline-block;
  width: 90px; /* Auto width based on content */
  transition: background-color 0.3s, box-shadow 0.3s, transform 0.3s; /* Smooth transitions for interactive effects */
  color: #3b3b3b;

  font-family: 'Roboto Mono', monospace;

  /* Adding a subtle shadow for depth */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

}

a[class="button"] {
  width: 90px; /* adjust as needed */
  padding: 1.5px !important;
}

}

