---
layout: base.njk
pagination:
  data: collections.tagList
  size: 1
  alias: tag
permalink: /tags/{{ tag | tagSlug }}/
eleventyComputed:
  title: "tag · {{ tag }}"
bodyClass: blog
eleventyExcludeFromCollections: true
---
<section class="wrap">
  <p class="page-kicker"><a href="/tags/">all tags</a></p>
  <h1 class="page-title">{{ tag }}</h1>
  <ol class="post-list">
    {%- for post in collections[tag] | reverse %}
    {%- if not post.data.eleventyExcludeFromCollections %}
    <li class="post-item">
      <a class="post-link" href="{{ post.url }}">
        <span class="post-title">{{ post.data.title }}</span>
        <span class="post-meta">{{ post.date | dateDisplay }}</span>
      </a>
    </li>
    {%- endif %}
    {%- endfor %}
  </ol>
</section>
